.footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    width: 100%;
    height: 10%;
}

.footershadow {
    position: absolute;
    top: 100%;
    width: 100%;
    box-shadow: 0px 0px 300px 300px rgba(244, 106, 198, 0.6);
}

.footer-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 99%;
    height: 90%;
}

/* Section 1 */
.footer-body-sec1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    height: 25%;
}

.footer-discord {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 2.8%;
    height: 60%;
    font-size: 30px;
    margin-top: 0.5%;
    margin-right: 15px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.footer-reddit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 2.8%;
    height: 60%;
    font-size: 30px;
    font-size: 30px;
    margin-top: 0.5%;
    margin-right: 15px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.footer-facebook {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 2.8%;
    height: 60%;
    font-size: 30px;
    font-size: 30px;
    margin-top: 0.5%;
    margin-right: 15px;
    border-radius: 50%;
    color: white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

/* Section 2 */
.footer-body-sec2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8%;
    height: 60%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    width: 100%;
    height: 25%;
}

.footer-notes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#fn {
    color: white;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

/* Section 3 */
.footer-body-sec3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lime; */
    width: 100%;
    height: 25%;
}

.footer-logo {
    position: relative;
    width: 8%;
    margin-top: 0.5%;
    margin-right: 10px;
}

.footer-trademark {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: left;
    flex-direction: column;
    /* background-color: gray; */
    width: 33%;
    height: 100%;
}

.trademark-msg1 {
    position: absolute;
    left: 0;
    bottom: 20%;
    color: rgb(191, 191, 191);
    font-size: 10px;
}

.trademark-msg2 {
    position: absolute;
    right: -11%;
    bottom: 20%;
    color: white;
    font-size: 10px;
}

/* Section 4 */
.footer-body-sec4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: violet; */
    width: 100%;
    height: 25%;
    color: white;
    font-size: 10px;
    user-select: none;
}