.second-header {
    position: relative;
    /* border: 3px solid red; */
    width: 100%;
    height: 10%;
    background-color: hsla(264, 50%, 50%, 0.2);
}

.second-header-backtohome {
    position: absolute;
    top: 30%;
    left: 1.5%;
    display: flex;
    align-items: center;
    justify-content: left;
    background: linear-gradient(to right, rgb(184, 38, 148), rgb(244, 106, 198));
    border-radius: 50px;
    /* border: 3px solid lime; */
    width: 5%;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.second-header-backtohome:hover {
    transform: scale(1.2);
}

.second-header-backicon {
    font-size: px;
    margin: 5px 5px 0px 10px;
}