.ordereditemdisplay-container {
    /* background-color: gray; */
    /* border: 1px solid blue; */
    width: 100%;
    min-height: 50%;
    max-height: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    user-select: none;
}

/* === Item Wrapper === */
.oid-item-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

/* Lefthalf */
.oid-wrapper-lefthalf {
    position: relative;
    display: flex;
    /* border: 1px solid lime; */
    width: 50%;
    height: 100%;
}

.oid-wrapper-lefthalf-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
    width: 50%;
    height: 100%;
}

.oid-wrapper-lefthalf-right {
    position: relative;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5%;
}

.oid-item-img {
    height: 95%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.9);
}

.oid-item-title {
    color: white;
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 30px;
    margin-top: 20%;
}

.oid-item-author {
    color: gray;
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 15px;
}

.oid-item-price {
    /* color: gray; */
    font-family: "Barlow Condensed", "consolas", sans-serif;
    color: rgb(184, 38, 148);
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 30px;
    margin-top: 10%;
}

.oid-item-quantity-container {
    display: flex;
    align-items: center;
    /* background-color: gray; */
    min-height: 20%;
    margin-top: 10%;
    color: yellow;
}

.oid-item-quantity-maxstockmsg {
    position: absolute;
    right: 8%;
}

.oid-item-quantity-wrapper {
    display: flex;
    /* border: 1px solid white; */
    width: 70%;
    height: 100%;
}

.oid-item-remove {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6%;
    right: 4%;
    background-color:  rgb(184, 38, 148);
    width: 6%;
    height: 8%;
    color: white;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.oid-item-include {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 17%;
    right: 4%;
    background-color:  rgb(184, 38, 148);
    width: 6%;
    height: 8%;
    color: white;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.oid-item-include.included {
    border-color: rgb(184, 38, 148);
    background-color: transparent;
}

.oid-item-include .bx-check {
    display: inline-block;
}

.oid-item-include.included .bx-check {
    display: none;
}

.oid-item-include.included {
    border-color: rgb(184, 38, 148);
}

.item-quantity-wrapper-sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background: linear-gradient(to right, rgb(147, 38, 184), rgb(184, 38, 148));
    width: 30%;
    border-radius: 50px;
}

.iqw-sec2-msg1 {
    font-size: 25px;
    color: white;
    font-family: "Barlow Condensed", "consolas", sans-serif;
}

.item-quantity-wrapper-sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid lime; */
    width: 40%;
}

.iqw-sec2-msg2 {
    font-size: 20px;
    color: white;
}

.item-quantity-wrapper-sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    background: linear-gradient(to right, rgb(184, 38, 148), rgb(244, 106, 198));
    width: 30%;
    border-radius: 50px;
}

.iqw-sec2-msg3 {
    font-size: 25px;
    color: white;
    font-family: "Barlow Condensed", "consolas", sans-serif;
}
