.topbarline {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(147, 38, 184);
    width: 100%;
    height: 10px;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.4);
}