* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", "Verela Round", "consolas", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}