.admin-container {
    background-image: url('../../assets/my_assets/homepage/Homepage BG 3.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.admin-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 3px solid blue; */
    width: 100%;
    height: 100%;
    background-color: hsla(264, 50%, 50%, 0.2);
}

.admin-body-title {
    color: white;
    margin-bottom: 15px;
    font-size: 30px;
}

.admin-inputwrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    width: 80%;
    height: 85%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to bottom, rgb(147, 38, 184), rgb(184, 38, 148));
    gap: 20px;
}

/* === Wrapper Elements === */
/* --- Users --- */
.adwrap-users {
    /* background-color: gray; */
    width: 30%;
    height: 90%;
}

.adwrap-users-body {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
}

.users-create {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    overflow: hidden;
}

.create-users-msg {
    position: absolute;
    top: 5%;
    left: 6%;
}

.create-users-msg1 {
    color: white;
    font-size: 20px;
}

.create-users-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    overflow-y: auto;
    padding: 10px 0;
}

.create-users-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(147, 38, 184), rgb(184, 38, 148));
    position: absolute;
    bottom: 5%;
    left: 3%;
    width: 20%;
    border-radius: 50px;
    cursor: pointer;
}

.create-users-buttontext {
    color: white;
}

.users-list {
    /* border: 5px solid red; */
    width: 100%;
    height: 70%;
}

.users-searchbar {
    position: relative;
    display: flex;
    /* border: 5px solid rgb(153, 255, 185); */
    width: 100%;
    height: 10%;
    margin: 10px 0;
}

.users-searchbar-textbox {
    width: 70%;
    border-radius: 10px;
}

.users-searchbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(147, 38, 184), rgb(184, 38, 148));
    width: 20%;
    margin-left: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.users-searchbar-buttontext {
    color: white;
}

.users-list-body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    width: 100%;
    height: calc(90% - 20px);
    border-radius: 10px;
    overflow: hidden;
}

.users-list-bodywrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 10px;
}

.user-item {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px; /* Optional: Adds some space around the text */
    word-break: break-word; /* Ensures the text breaks to the next line when too long */
    overflow-wrap: break-word; /* Ensures the long words wrap into the next line */
    white-space: normal; /* Allows text to wrap normally */
}

/* 1 */
.user-item-info1 {
    display: flex;
    color: yellow;
}

.user-item-info1-1 {
    display: flex;
    color: white;
}

/* 2 */
.user-item-info2 {
    display: flex;
    color: rgb(166, 141, 1);
}

.user-item-info2-1 {
    display: flex;
    color: rgb(163, 162, 162);
}

/* 3 */
.user-item-info3 {
    display: flex;
    color: yellow;
}

.user-item-info3-1 {
    display: flex;
    color: white;
}

/* 4 */
.user-item-info4 {
    display: flex;
    color: rgb(166, 141, 1);
}

.user-item-info4-1 {
    display: flex;
    color: rgb(163, 162, 162);
}

/* 5 */
.user-item-info5 {
    position: absolute;
    background-color: gray;
    top: 5%;
    right: 5%;
    width: 15%;
    height: 90%;
    border-radius: 10px;
}

/* --- Products --- */
.adwrap-products {
    /* background-color: gray; */
    width: 30%;
    height: 90%;
}

.adwrap-products-body {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
}

.products-create {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    overflow: hidden;
}

.create-products-msg {
    position: absolute;
    top: 5%;
    left: 2%;
}

.create-products-msg1 {
    color: white;
    font-size: 20px;
}

.create-products-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    overflow-y: auto;
    padding: 10px 0;
}

.create-products-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(147, 38, 184), rgb(184, 38, 148));
    position: absolute;
    bottom: 5%;
    left: 3%;
    width: 20%;
    border-radius: 50px;
    cursor: pointer;
}

.create-products-buttontext {
    color: white;
}

.products-list {
    /* border: 5px solid red; */
    width: 100%;
    height: 70%;
}

.products-searchbar {
    position: relative;
    display: flex;
    /* border: 5px solid rgb(153, 255, 185); */
    width: 100%;
    height: 10%;
    margin: 10px 0;
}

.products-searchbar-textbox {
    width: 70%;
    border-radius: 10px;
}

.products-searchbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(147, 38, 184), rgb(184, 38, 148));
    width: 20%;
    margin-left: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.products-searchbar-buttontext {
    color: white;
}

.products-list-body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    width: 100%;
    height: calc(90% - 20px);
    border-radius: 10px;
    overflow: hidden;
}

.products-list-bodywrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 10px;
}

/* Product item */
.product-item {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* 1 */
.product-item-info1 {
    display: flex;
    color: yellow;
}

.product-item-info1-1 {
    display: flex;
    color: white;
}

/* 2 */
.product-item-info2 {
    display: flex;
    color: rgb(166, 141, 1);
}

.product-item-info2-1 {
    display: flex;
    color: rgb(163, 162, 162);
}

/* 3 */
.product-item-info3 {
    display: flex;
    color: yellow;
}

.product-item-info3-1 {
    display: flex;
    color: white;
}

/* 4 */
.product-item-info4 {
    display: flex;
    color: rgb(166, 141, 1);
}

.product-item-info4-1 {
    display: flex;
    color: rgb(163, 162, 162);
}

/* 5 */
.product-item-info5 {
    position: absolute;
    background-color: gray;
    top: 5%;
    right: 5%;
    width: 15%;
    height: 90%;
    border-radius: 10px;
}