.login-container {
    background-image: url('../../assets/my_assets/homepage/Homepage BG 3.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* === Header === */
.login-header {
    position: relative;
    /* border: 3px solid red; */
    width: 100%;
    height: 10%;
}

.login-backtohome {
    position: absolute;
    top: 30%;
    left: 1.5%;
    display: flex;
    align-items: center;
    justify-content: left;
    background: linear-gradient(to right, rgb(184, 38, 148), rgb(244, 106, 198));
    border-radius: 50px;
    /* border: 3px solid lime; */
    width: 5%;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.login-backtohome:hover {
    transform: scale(1.2);
}

.login-backicon {
    font-size: px;
    margin: 5px 5px 0px 10px;
}

/* === Body === */
.login-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid blue; */
    width: 100%;
    height: 100%;
    background-color: hsla(264, 50%, 50%, 0.2);
}

.login-inputwrapper {
    /* background-color: gray; */
    width: 30%;
    height: 70%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to bottom, rgb(147, 38, 184), rgb(184, 38, 148));
}

/* Top */
.login-inputtopbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
    height: 30%;
}

.login-topboxmsg1 {
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
}

.login-topboxmsg2 {
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 20px;
    margin-top: 25px;
}

.login-topboxmsg2.error {
  color: rgb(255, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  border-radius: 50px;
}

/* Bottom */
.login-inputbottombox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 100%;
    height: 70%;
}

.login-inputemail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 50%;
    height: 15%;
    border: 1px solid gray;
    margin-top: 50px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.inputemail-textbox {
    position: relative;
    background: transparent;
    width: 95%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}

.login-inputpassword {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 50%;
    height: 15%;
    border: 1px solid gray;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.inputpassword-textbox {
    position: relative;
    background: transparent;
    width: 95%;
    height: 100%;
    /* border: 1px solid blue; */
    overflow: hidden;
}

.textbox::placeholder {
    color: gray;
    transition: color 0.3s ease-in-out;
}

.textbox.empty-input::placeholder {
    color: red;
}

.login-loginbutton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(44, 44, 44);
    width: 50%;
    height: 15%;
    border: 1px solid gray;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.2s;
}

.login-loginbutton:hover {
    background-color: rgb(83, 82, 82);
}

.login-registeraccount {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 5%;
    /* border: 1px solid gray; */
    margin-top: 30px;
    cursor: pointer;
}

.registeraccount-text {
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 18px;
    color: black;
}
