/* Profile container styling */
.profile-container {
    background-image: url('../../assets/my_assets/homepage/Homepage BG 3.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* === Header === */
.profile-header {
    position: relative;
    width: 100%;
    height: 10%;
}

/* === Body === */
.profile-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsla(264, 50%, 50%, 0.2);
}

.profile-wrapper {
    width: 30%;
    height: 70%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to bottom, rgb(147, 38, 184), rgb(184, 38, 148));
}

/* Top Section */
.profile-topbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
}

.profile-welcome {
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
}

.profile-message {
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 20px;
    margin-top: 25px;
}

/* Bottom Section */
.profile-bottombox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.profile-logoutbutton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(44, 44, 44);
    width: 50%;
    height: 15%;
    border: 1px solid gray;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.2s;
}

.profile-logoutbutton:hover {
    background-color: rgb(83, 82, 82);
}
