.register-container {
    background-image: url('../../assets/my_assets/homepage/Homepage BG 3.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.register-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 88.6%;
    background-color: hsla(264, 50%, 50%, 0.2);
}

/* === Wrappers === */
.register-input-wrapper {
    position: relative;
    display: flex;
    width: 50%;
    height: 70%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to bottom, rgb(147, 38, 184), rgb(184, 38, 148));
}

.regwrapper-left {
    position: relative;
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.regwrapper-right {
    position: relative;
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.regwrap-logo {
    width: 40%;
    margin-top: 10%;
}

.regwrap-msg1 {
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-top: 20%;
}

.regwrap-msg2 {
    font-family: "Barlow Condensed", "consolas", sans-serif;
    font-size: 25px;
    margin-top: 10%;
}

/* === Textboxes === */
/* Name */
.register-inputname {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 80%;
    height: 9%;
    border: 1px solid gray;
    /* margin-top: 20px; */
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.reginputname-textbox {
    position: relative;
    background: transparent;
    width: 95%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}

/* Email */
.register-inputemail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 80%;
    height: 9%;
    border: 1px solid gray;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.reginputemail-textbox {
    position: relative;
    background: transparent;
    width: 95%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}

/* Password */
.register-inputpass {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 80%;
    height: 9%;
    border: 1px solid gray;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.reginputpass-textbox {
    position: relative;
    background: transparent;
    width: 95%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}

/* Confirm Password */
.register-inputconfirmpass {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 80%;
    height: 9%;
    border: 1px solid gray;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.reginputconfirmpass-textbox {
    position: relative;
    background: transparent;
    width: 95%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}

/* Phone Number */
.register-inputphonenum {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 80%;
    height: 9%;
    border: 1px solid gray;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.reginputphonenum-textbox {
    position: relative;
    background: transparent;
    width: 95%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}

/* Address */
.register-inputaddr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 80%;
    height: 9%;
    border: 1px solid gray;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.reginputaddr-textbox {
    position: relative;
    background: transparent;
    width: 95%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}

/* Button */
.register-confirmbutton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(44, 44, 44);
    width: 80%;
    height: 9%;
    border: 1px solid gray;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.2s;
}

.register-confirmbutton:hover {
    background-color: rgb(83, 82, 82);
}