.searchres-container {
    background-image: url('../../assets/my_assets/homepage/Homepage BG 3.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-height: 100vh;
}

.searchres-container-barline {
    position: absolute;
    top: 12%;
    border: 0.25px solid rgba(147, 38, 184, 0.5);
    width: 100%;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.75);
}

/* === Header === */
.searchres-header {
    position: absolute;
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    /* min-height: 10%;
    margin-top: 0.6%; */
    padding-top: 2.5%;
    padding-bottom: 3.35%;
    background-color: hsla(264, 50%, 50%, 0.2);
}

/* Searchbox */
.searchres-searchbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    right: 2%;
    background-color:  rgb(255, 255, 255);
    width: 17%;
    height: 40%;
    border-radius: 100px;
    overflow:hidden
}

.textbox {
    width: 100%;
    height: 100%;
    margin: 0px 50px 0px 15px;
    border-radius: 100px;
    background-color: transparent;
    outline: none;
    border: none;
}

.icon {
    position: absolute;
    right: 0;
    padding: 5px 10px 0px 12px;
    font-size: 25px;
    background: linear-gradient(to left, rgb(147, 38, 184), rgb(218, 58, 188));
    border: 1px solid rgb(147, 38, 184);
    border-radius: 100px;
    transition: 0.1s;
}

.icon:hover {
    cursor: pointer;
}

/* === Body === */
.searchres-body {
    margin-top: 80px;
    margin-bottom: 5px;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: hsla(264, 50%, 50%, 0.2);
}

.nosearchresults {
    color: white;
    margin-top: 15%;
    font-size: 30px;
}